extends ./_partials/_layout

block title
  My Big Blackjack Game

block content

  .board
    .dealer-cards
    .player-cards
  .options
    input(
      type='button'
      name='hit'
      value='hit'
    )
    input(
      type='button'
      name='stand'
      value='stand'
    )
    input(
      type='button'
      name='new-game'
      value='new-game'
    )
